@font-face {
    font-family: LegueGothic;
    src: url('../assets/fonts/LeagueGothic-Regular.otf');
}

header {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 20px;
    width: 100%;
    background-image: -ms-radial-gradient(center bottom, ellipse farthest-corner, #7E4834 0%, #471414 100%);
    background-image: -moz-radial-gradient(center bottom, ellipse farthest-corner, #7E4834 0%, #471414 100%);
    background-image: -o-radial-gradient(center bottom, ellipse farthest-corner, #7E4834 0%, #471414 100%);
    background-image: -webkit-gradient(radial, center bottom, 0, center bottom, 359, color-stop(0, #7E4834), color-stop(100, #471414));
    background-image: -webkit-radial-gradient(center bottom, ellipse farthest-corner, #7E4834 0%, #471414 100%);
    background-image: radial-gradient(ellipse farthest-corner at center bottom, #7E4834 0%, #471414 100%);
}

#slogan {
    font-family: LegueGothic;
    font-size: 25px;
}

.contact-flex {
    display: flex;
    flex-direction: column;
    padding-left: 20%;
    padding-right: 20%;
}

.contact-subsc {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}

.comments-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.comment-container {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.comment-img {
    margin-right: 25px;
    display: flex;
    width: 80px;
    height: 80px;
    box-shadow: 0 0.1em 0.1em #888888;
    border: 0.4em solid white;
}

.comment-desc {
    display: flex;
    flex-direction: column;
    height: 160px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0.5em 0.5em #888888;
    border: 1px solid gray;
}

.comment-desc p {
    font-family: LegueGothic;
    font-size: 25px;
    color: #442917;
}

.header-info {
    display: flex;
    flex-direction: column;
    margin-right: 55%;
    width: 30%;
    background-color: transparent;
}

.header-info h1 {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.header-info h5 {
    color: #cac6a1;
}

#after-header {
    background-color: #faf9f5;
    padding-left: 15%;
    padding-right: 15%;
    box-shadow: 1px 1px gray;
}

#after-header span {
    display: flex;
    justify-content: center;
}

#after-header a {
    color: #847770;
    text-transform: uppercase;
}

#after-header a:hover {
    text-decoration: none;
    font-style: oblique;
}

.after-header {
    display: flex;
}

.info-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 15px;
    width: 40%;
}

.info-left {
    width: 60%;
    color: #847770;
    text-transform: uppercase;
}

.info-left h4 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.info-left h4 span {
    font-size: 10px;
}

.search-right {
    border-radius: 30px !important;
}

.search-right::-webkit-input-placeholder {
    font-style: italic;
}

.search-right::-moz-placeholder {
    font-style: italic;
}

#app-container {
    display: flex;
    flex-direction: column;
    padding-left: 15%;
    padding-right: 15%;
    background-color: #efedd4;
}

.container-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#location-container {
    display: flex;
    flex-direction: row;
}

.location-title {
    font-size: 21px;
    font-family: LegueGothic, sans-serif;
    font-weight: bold;
    color: #cac6a1;
    text-transform: uppercase;
}

#menu-profile {
    font-family: LegueGothic;
    color: #442917;
}

.menu-list {
    display: flex;
    background-color: transparent;
    padding-right: 0.7em;
    margin-bottom: 50px;
}

.menu-desc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10px;
    color: #999785;
    width: 50%;
}

.menu-desc h3 {
    margin-top: 0px;
    padding-bottom: 20px;
}

.menu-desc-hidden {
    overflow: hidden;
}

.menu-img {
    display: flex;
    width: 50%;
}

.menu-item {
    display: flex;
    justify-content: center;
    width: 300px;
    height: 150px;
}

.menu-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#img-list {
    display: flex;
    box-shadow: 0 0.5em 0.5em #888888;
    border: 0.5em solid white;
}

#menu-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.menu-detail {
    display: flex;
    font-size: 30px;
    text-align: center;
}

.menu-detail-product {
    margin-top: 5px;
}

#menu-details div {
    width: 100%;
    border-radius: 10px;
    font-family: LegueGothic;
    color: #442917;
    text-transform: uppercase;
    font-size: 50px;
    box-shadow: 0 0.5em 0.5em #888888;
    border: 0.2em solid white;
}

#menu-details h3 {
    width: 100%;
    border-radius: 10px;
    font-family: LegueGothic;
    color: #442917;
    text-transform: uppercase;
    font-size: 50px;
    box-shadow: 0 0.5em 0.5em #888888;
    border: 0.2em solid white;
}

#menu-details img {
    display: flex;
    justify-content: center;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0.5em 0.5em #888888;
    border: 0.2em solid white;
}

.desc {
    font-family: LegueGothic;
    color: #7E4834;
    font-size: 50px;
    text-transform: uppercase;
}

#newComment {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 100%;
    border-radius: 10px;
    font-family: LegueGothic;
    color: #888888;
    font-size: 50px;
    box-shadow: 0 0.5em 0.5em #888888;
    border: 0.2em solid white;
}

#menu-details h4 {
    width: 100%;
    border-radius: 10px;
    font-family: LegueGothic;
    color: #7E4834;
    font-size: 50px;
    box-shadow: 0 0.5em 0.5em #888888;
    border: 0.2em solid white;
}

#saveForm {
    display: flex;
    border-radius: 30px !important;
}

div p span {
    color: #716851;
}

.content {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 400px;
}

#home-btn {
    margin-top: -16px;
    background-color: #a9a37f;
}

footer {
    background-color: #f2f1e8;
}

footer div li a {
    color: #847770;
    text-transform: uppercase;
}

#footer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    line-height: 20px;
    padding: 10px 15px;
    list-style: none;
}

#footer-container li {
    padding: 20px;
}

#footer-container li a:hover {
    text-decoration: none;
    color: #a29d79;
    font-style: oblique;
}

.footer-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-left: 15%;
    margin-right: 15%;
}

.footer-div img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 35px;
}

#map {
    display: flex;
    width: 70%;
    height: 400px;
    background-color: grey;
}

.logo {
    padding-top: 8px;
}

nav {
    background-color: rgb(147, 140, 123);
    width: 85%;
    padding-right: 15%;
    z-index: 999;
}

.nav li {
    background-color: rgb(147, 140, 123);
    text-transform: uppercase;
}

.nav li a {
    color: white;
    text-transform: uppercase;
}

.nav li a:hover {
    color: rgb(210, 201, 165);
    background-color: rgb(147, 140, 123);
}

#before-footer {
    background-color: #f2f1e8;
}

#before-container {
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid gray;
}

#before-col1 {
    font-family: LegueGothic;
    width: 37%;
    margin-top: 20px;
}

#before-col2 {
    font-family: LegueGothic;
}

#before-col3 {
    font-family: LegueGothic;
}


/* Start Caroucel */

#myCarousel {
    display: flex;
    justify-content: center;
    width: 100%;
}

.carousel-inner {
    padding-bottom: 6px;
    display: flex;
    justify-content: center;
}

.home-container {
    display: flex;
}

#carousel-item1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#carousel-item2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.map-holder {
    display: flex;
    width: 100%;
    justify-content: center;
    border: 0.3em solid white;
}

.map-holder>#map {
    width: 100%;
}

.carousel-inner h3 {
    font-family: LegueGothic;
    color: #cac6a1;
    font-size: 30px;
    text-transform: uppercase;
}

.carousel-inner h4 {
    font-family: LegueGothic;
    color: #cac6a1;
    font-size: 18px;
}

.carousel-inner h4 span {
    color: #7E4834;
}

.carousel-control.left,
.carousel-control.right {
    background-image: none;
}


/* End Caroucel */