
<section class="section-wrapper contact-and-map">
  <div class="">
    <div class="">
      <div class="contact-flex">
        <h2 class="section-title text-center">Send Message</h2>
        <form id="message-email" method="post" action="#/contact" class="form contact-subsc">
          <div class="input-group">
            <input id="name" name="name" type="text" placeholder="Name" required="" class="form-control border-radius border-right"/><span class="input-group-addon border-radius custom-addon"><i class="ion-person"></i></span>
          </div>
          <div class="input-group">
            <input id="email" name="email" type="email" placeholder="Email address" required="" class="form-control border-radius border-right"/><span class="input-group-addon border-radius custom-addon"><i class="ion-email"></i></span>
          </div>
          <div class="input-group">
            <input id="number" name="phone" type="tel" placeholder="Phone number" required="" class="form-control border-radius border-right"/><span class="input-group-addon border-radius custom-addon"><i class="ion-ios-telephone"></i></span>
          </div>
          <div class="input-group">
            <textarea id="message" name="message" rows="8" placeholder="Write Message" required="" class="form-control border-radius border-right"></textarea><span class="input-group-addon border-radius custom-addon"><i class="ion-chatbubbles"></i></span>
          </div>
          <input type="submit" value="SEND MESSAGE" class="btn btn-success search-right"/>
        </form>
      </div>
    </div>
  </div>
</section>
<div class="">
  <div class="">
    <div class="">
      <div class="contact-subsc">
        <form id="subsc-email" method="post" action="#/contact">
          <div class="form-group">
            <div class="input-group contact-subsc">
              <p class="subscribe-now">Subscribe to our Newsletter</p>
              <input id="subsc1-email" type="email" name="email" placeholder="Email address" required="" class="form-control border-radius"/>
              <input type="submit" value="SUBSCRIBE" class="btn btn-success search-right"/>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  </div>