<div class="container">
    <div id="location-container">
        <div class="content">
            <div>
                <h3>ADRESS</h3>
                <p>
                    RossoPomodoro<br/>
                    Viale Sabotino, 19<br/>
                    20135 Milano MI
                </p>
            </div>
            <div>
                <h3>HOURS OF OPERATION</h3>
                <p>
                    MONDAY-FRIDAY: 6am - 11pm<br/>
                    SATURDAY-SUNDAY: 7am - 10pm
                </p>
            </div>
            <div>
                <h3>CONTACT INFO</h3>
                <p>
                    Daniele Russo<br/>
                    Mobile + 39 340 0637945<br/>
                    danielerusso@rossopomodoro.it
                </p>
            </div>
        </div>
        <div id="map"></div>
    </div>
</div>
