    <div id="location-container">
        <div class="content">
            <div>
                <h3 class="location-title">ADDRESS</h3>
                <p>
                    RossoPomodoro<br/>
                    Viale Sabotino, 19<br/>
                    20135 Milano MI
                </p>
            </div>
            <div>
                <h3 class="location-title">HOURS OF OPERATION</h3>
                <p>
                    MONDAY-FRIDAY: <span>6am - 11pm</span><br/>
                    SATURDAY-SUNDAY: <span>7am - 10pm</span>
                </p>
            </div>
            <div>
                <h3 class="location-title">CONTACT INFO</h3>
                <p>
                    Daniele Russo<br/>
                    Mobile: <span>+ 39 340 0637945</span><br/>
                    EMAIL: <span>danielerusso@rossopomodoro.it</span>
                </p>
            </div>
        </div>
        <div id="map"></div>
    </div>
