<div class="container">
    <div id="menu-details">
        <h3 class="menu-detail">{{Title}}</h3>
        <img class="menu-detail" src="{{img}}" alt="">
        <p class="menu-detail">{{Description}}</p>
        <h4 class="menu-detail">{{Price}}€</h4>
    </div>
</div>