<div class="container">
    <section>
        <div class="container-fluid reviews-post">
            <div class="row">
                <div class="col-12 col-sm-7 col-md-8 pl-0">
                    <div class="post">
                        <img src="http://www.pizzabeaverfallspa.com/image/37018/1200/M0/Q60/" class="post-img img-fluid img-thumbnail rounded-0" alt="food-img">

                        <span>Bacon ipsum dolor amet ham hock tongue andouille, chuck bresaola strip steak drumstick bacon ball tip shoulder chicken beef sausage corned beef. Chicken beef ribs burgdoggen fatback porchetta tenderloin kevin boudin salami short loin spare ribs andouille meatball. Tenderloin pancetta tri-tip ham hock. Chuck sirloin filet mignon andouille kevin hamburger fatback pastrami. Pancetta jowl swine sirloin, ground round landjaeger brisket andouille chuck tri-tip pork chop capicola corned beef beef meatloaf.

Fatback doner tail, meatball pastrami ham shankle boudin jowl prosciutto ground round rump meatloaf. Meatloaf alcatra ribeye pig andouille frankfurter chuck shank capicola boudin. Sirloin short ribs pork loin drumstick spare ribs brisket cow ham hock frankfurter capicola. Jowl ribeye kevin, doner porchetta pastrami filet mignon.

Chicken drumstick cow andouille bacon venison. Pork kielbasa ham, doner filet mignon chuck jerky t-bone. Pork loin ground round chuck, rump strip steak kevin sausage turducken meatloaf sirloin. Chuck tenderloin bacon boudin, pancetta shoulder ball tip biltong fatback frankfurter beef brisket. Shoulder pork chop meatball andouille, turducken spare ribs hamburger.

Tri-tip biltong jowl spare ribs shankle, flank short loin pastrami beef ball tip capicola kielbasa strip steak sirloin. Kielbasa tongue flank leberkas jerky ham short ribs swine meatloaf chuck spare ribs pork belly capicola andouille. Pastrami cow andouille, ground round burgdoggen turkey prosciutto bacon bresaola. Picanha burgdoggen chuck pork belly swine ham bresaola short loin. Bresaola landjaeger filet mignon, tongue turducken andouille cupim pancetta. Filet mignon turducken meatball pork loin landjaeger rump shank ground round pork belly corned beef chicken boudin sirloin prosciutto tongue. Salami ham frankfurter, porchetta prosciutto kielbasa capicola cow drumstick t-bone burgdoggen venison.

Ribeye short loin pastrami, leberkas shank t-bone short ribs pork pork chop strip steak frankfurter. Pastrami strip steak alcatra fatback tri-tip. Cow frankfurter ham hock, biltong sirloin chuck alcatra picanha swine bresaola salami corned beef shank. Sirloin bacon kevin jerky, porchetta sausage pastrami rump. Chicken sirloin kielbasa, tail tongue pork belly brisket meatloaf andouille tenderloin short loin short ribs salami cow. Andouille venison t-bone fatback drumstick boudin. Alcatra jerky pork belly, spare ribs sausage chicken corned beef short loin shoulder beef ribs short ribs turkey.</span>

                    </div>
                    <div class="comments">
                        <h2 class="text-uppercase mb-4">2 Comments</h2>
                        <div class="row">
                            <div class="col-12 col-sm-3 col-md-2 pr-0 pl-0">
                                <div class="avatar">
                                    <img src="../../assets/images/avatar.png" alt="avatar" class="img-thumbnail">
                                    <div class="comment-date font-italic">10-21-2017</div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-9 col-md-10 pl-0 pr-0">
                                <div class="review-shadow">
                                    <div class="comment-content reviews-comment-bubble">
                                        <div class="reviews-author">Peter Milov says:</div>
                                        <div class="reviews-comment-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                                            it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</div>
                                        <div class="text-right">
                                            <button class="btn btn-success search-right reviews-btn">Search</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="reviews-lifted-corner-comment">
                            <img src="./assets/images/lifted.png" alt="lifted-effect">
                        </div>
                        

                    <div class="comment-form form-container">
                        <h2 class="text-uppercase mt-5">Leave a comment</h2>
                        <form class="form" name="form" action="#" method="POST">
                            <label for="comment-text" class="sr-only">Comment</label>
                            <textarea placeholder="Comment" id="comment-text" name="commentText" class="w-100" rows="4" required></textarea>
                            <div class="text-right">
                                <button type="submit" class="btn">Submit comment</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <aside class="col-12 col-sm-4 col-md-4 aside-content">
                <div class="pb-4 list-posts">
                    <h5 class="reviews-post-h5 location-title text-uppercase">Recent Posts</h5>
                    <div class="reviews-comment-container">
                        <div class="reviews-comment-desc">
                            <div id="reviews-post1" class="home-post-container">
                            </div>
                        </div>
                    </div>
                    <div id="reviews-lifted-corner">
                        <img src="./assets/images/lifted.png" alt="lifted-effect">
                    </div>

                    <h5 class="reviews-post-h5 location-title text-uppercase">Recent Posts</h5>
                    <div class="reviews-comment-container">
                        <div class="reviews-comment-desc">
                            <div id="reviews-post2" class="home-post-container">
                            </div>
                        </div>
                    </div>
                    <div id="reviews-lifted-corner2">
                        <img src="./assets/images/lifted.png" alt="lifted-effect">
                    </div>

                    <h5 class="reviews-post-h5 location-title text-uppercase">Recent Posts</h5>
                    <div class="reviews-comment-container">
                        <div class="reviews-comment-desc">
                            <div id="reviews-post3" class="home-post-container">
                            </div>
                        </div>
                    </div>
                    <div id="reviews-lifted-corner3">
                        <img src="./assets/images/lifted.png" alt="lifted-effect">
                    </div>
            </aside>
            </div>
        </div>
    </section>
</div>
<span class="gradient-line"></span>